In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# Get the data
path = "Recommend.csv"
column_names = ['user_id',"item_id","rating","timestamp"]

In [12]:
df = pd.read_csv(path,names = column_names)

In [19]:
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [15]:
df.shape

(100000, 4)

In [16]:
df.nunique()

user_id        943
item_id       1682
rating           5
timestamp    49282
dtype: int64

In [18]:
1682*943

1586126