## Day 46 
**Q1. Problem Statement: Feature Extraction** <br>
Write a Python program that reads the demotext2.txt text file (provided on LMS).The following are the tasks that are to be taken into consideration while
constructing the solution.
1. Load the demotext2.txt text file into a variable and then close the file
2. Do sentence wise tokenization and list out generated tokens
3. Transform each token into a lower case
4. Do vectorization using TFID Vectorizer
5. Generate vector-matrix

In [2]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

Import Libraries.

In [3]:
import nltk
from nltk import word_tokenize
from nltk import word_tokenize

 Loading the given text file.

In [5]:
f = open("demotext2.txt", "r")
#read whole file to a string
text = f.read()
 
#close file
f.close()
 
print(text)

He can even spout some sports trivia and Christmas carols and stuff like that.
We'd talk sports and stuff, and maybe have a beer.
The Admirable Crichton of his day, he was keen alike on field sports and the arts, the friend and admirer equally of Cecil Rhodes and of Rodin, a railway director and a yeomanry colonel.
But he was not brought forward by his father or prepared in any way for his future greatness, and lived in the country occupied with field sports, till after the institution of the second protectorate in 16J7 and the recognition of Oliver's right to name his successor.
Thankfully, he was too concerned with sports to get in any real trouble.
See Strutt, Sports and Pastimes, who also gives an illustration, "taken from a manuscriptal painting of the 9th century in the Cotton Library," representing "a Saxon chieftain, attended by his huntsman and a couple of hounds, pursuing the wild swine in a forest."
As they entered the yard, Carmen noticed Lori's little red sports car.
After a lengthy shower, Jenn exited and pulled on clean leggings, sports bra, and socks.
A park and sports ground at the western end of the town contains the pedestal for a statue of President Kruger.
There were crude medieval notions that fossils were " freaks " or " sports " of nature (lusus naturae), or that they represented failures of a creative force within the earth (a notion of Greek and Arabic origin), or that larger and smaller fossils represented the remains of races of giants or of pygmies (the mythical idea).

 Tokenizing the sentences.

In [6]:
nltk_tokens = nltk.sent_tokenize(text)
print (nltk_tokens)

['He can even spout some sports trivia and Christmas carols and stuff like that.', "We'd talk sports and stuff, and maybe have a beer.", 'The Admirable Crichton of his day, he was keen alike on field sports and the arts, the friend and admirer equally of Cecil Rhodes and of Rodin, a railway director and a yeomanry colonel.', "But he was not brought forward by his father or prepared in any way for his future greatness, and lived in the country occupied with field sports, till after the institution of the second protectorate in 16J7 and the recognition of Oliver's right to name his successor.", 'Thankfully, he was too concerned with sports to get in any real trouble.', 'See Strutt, Sports and Pastimes, who also gives an illustration, "taken from a manuscriptal painting of the 9th century in the Cotton Library," representing "a Saxon chieftain, attended by his huntsman and a couple of hounds, pursuing the wild swine in a forest."', "As they entered the yard, Carmen noticed Lori's little red sports car.", 'After a lengthy shower, Jenn exited and pulled on clean leggings, sports bra, and socks.', 'A park and sports ground at the western end of the town contains the pedestal for a statue of President Kruger.', 'There were crude medieval notions that fossils were " freaks " or " sports " of nature (lusus naturae), or that they represented failures of a creative force within the earth (a notion of Greek and Arabic origin), or that larger and smaller fossils represented the remains of races of giants or of pygmies (the mythical idea).']

 Converting  all the words in the sentences to lower case for generating tokens.

In [7]:
#1. Setting all the sentance  to lower case
nltk_tokens = set(w.lower() for w in nltk_tokens)
nltk_tokens = list(nltk_tokens)
nltk_tokens

['see strutt, sports and pastimes, who also gives an illustration, "taken from a manuscriptal painting of the 9th century in the cotton library," representing "a saxon chieftain, attended by his huntsman and a couple of hounds, pursuing the wild swine in a forest."',
 'after a lengthy shower, jenn exited and pulled on clean leggings, sports bra, and socks.',
 'thankfully, he was too concerned with sports to get in any real trouble.',
 'there were crude medieval notions that fossils were " freaks " or " sports " of nature (lusus naturae), or that they represented failures of a creative force within the earth (a notion of greek and arabic origin), or that larger and smaller fossils represented the remains of races of giants or of pygmies (the mythical idea).',
 'he can even spout some sports trivia and christmas carols and stuff like that.',
 "as they entered the yard, carmen noticed lori's little red sports car.",
 "we'd talk sports and stuff, and maybe have a beer.",
 'the admirable crichton of his day, he was keen alike on field sports and the arts, the friend and admirer equally of cecil rhodes and of rodin, a railway director and a yeomanry colonel.',
 'a park and sports ground at the western end of the town contains the pedestal for a statue of president kruger.',
 "but he was not brought forward by his father or prepared in any way for his future greatness, and lived in the country occupied with field sports, till after the institution of the second protectorate in 16j7 and the recognition of oliver's right to name his successor."]

Vectorizing sentences.

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf_vect = TfidfVectorizer(min_df=1,lowercase=True,stop_words='english')
tf_matrix = tf_vect.fit_transform(nltk_tokens)
print(tf_matrix)

  (0, 39)	0.21254144490425056
  (0, 111)	0.21254144490425056
  (0, 121)	0.21254144490425056
  (0, 87)	0.21254144490425056
  (0, 50)	0.21254144490425056
  (0, 24)	0.21254144490425056
  (0, 51)	0.21254144490425056
  (0, 7)	0.21254144490425056
  (0, 16)	0.21254144490425056
  (0, 100)	0.21254144490425056
  (0, 96)	0.21254144490425056
  (0, 61)	0.21254144490425056
  (0, 22)	0.21254144490425056
  (0, 15)	0.21254144490425056
  (0, 1)	0.21254144490425056
  (0, 79)	0.21254144490425056
  (0, 67)	0.21254144490425056
  (0, 112)	0.21254144490425056
  (0, 53)	0.21254144490425056
  (0, 46)	0.21254144490425056
  (0, 81)	0.21254144490425056
  (0, 105)	0.07858086507729196
  (0, 108)	0.21254144490425056
  (1, 62)	0.41311916325859716
  (1, 109)	0.3511890313276876
  :	:
  (6, 105)	0.06625778821119362
  (7, 11)	0.35057103775126797
  (7, 93)	0.35057103775126797
  (7, 63)	0.35057103775126797
  (7, 65)	0.35057103775126797
  (7, 73)	0.35057103775126797
  (7, 12)	0.35057103775126797
  (7, 122)	0.35057103775126797
  (7, 32)	0.35057103775126797
  (7, 105)	0.12961319346421593
  (8, 104)	0.330830455702316
  (8, 9)	0.330830455702316
  (8, 59)	0.330830455702316
  (8, 18)	0.330830455702316
  (8, 86)	0.330830455702316
  (8, 34)	0.330830455702316
  (8, 55)	0.330830455702316
  (8, 102)	0.330830455702316
  (8, 60)	0.330830455702316
  (8, 105)	0.12231470156192019
  (9, 118)	0.49166959587950165
  (9, 91)	0.49166959587950165
  (9, 20)	0.49166959587950165
  (9, 114)	0.49166959587950165
  (9, 105)	0.1817801803023365

**Step-7:** Vector matrix formation

In [7]:
import pandas as pd
tf_names = tf_vect.get_feature_names()
tf_df = pd.DataFrame(tf_matrix.toarray(),columns=tf_names)
tf_df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,16j7,9th,admirable,admirer,alike,arabic,arts,attended,beer,bra,...,thankfully,till,town,trivia,trouble,way,western,wild,yard,yeomanry
0,0.000000,0.212541,0.000000,0.000000,0.000000,0.000000,0.000000,0.212541,0.00000,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.212541,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.000000,0.000000,0.413119,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.50903,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.000000,0.314088,0.000000,0.00000,0.000000,0.314088,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.243545,0.243545,0.243545,0.000000,0.243545,0.000000,0.00000,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.243545
5,0.224397,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.224397,0.000000,0.000000,0.00000,0.224397,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.179211,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.350571,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.33083,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,...,0.49167,0.000000,0.000000,0.000000,0.49167,0.000000,0.000000,0.000000,0.000000,0.000000

**Conclusion:** The sentences in the dataset has been changed into word tokens and then later converted to Vectors