In [2]:
import pandas as pd
import numpy as np

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CAB5-589B

 Directory of C:\Users\ADMIN\Documents\lokesh_demos_&_diy\day 63\K-Fold Demo

02/12/2024  11:24 AM    <DIR>          .
02/12/2024  11:24 AM    <DIR>          ..
02/12/2024  11:24 AM    <DIR>          .ipynb_checkpoints
02/12/2024  11:15 AM            54,949 Demo - K-Fold Cross Validation.ipynb
02/12/2024  11:24 AM                72 Lokesh_day63_diy_solution.ipynb
01/26/2020  04:02 AM            15,021 Wholesale customers data.csv
               3 File(s)         70,042 bytes
               3 Dir(s)  167,905,804,288 bytes free

In [5]:
df = pd.read_csv("Wholesale customers data.csv")
df.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [9]:
print(*df, sep =" | ")

Channel | Region | Fresh | Milk | Grocery | Frozen | Detergents_Paper | Delicassen